<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Landing Page - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/landing-page.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">


</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">CCC Contest</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Sandwich CBR</h1>
                        <h3>Pick your desired and undesired ingredients for the sandwich. <br>See the allowed ingredients <a href="/ingredients">here</a>.</h3>
                        <hr class="intro-divider">

                        <div class="input-group input-group-lg">
                          <span class="input-group-addon" id="sizing-addon1">Desired</span>
                          <input id="desiredInput" type="text" class="form-control" placeholder="Lettuce, Ham, Baguette" aria-describedby="sizing-addon1">
                        </div>

                        <div class="input-group input-group-lg" style="padding-top:20px">
                          <span class="input-group-addon" id="sizing-addon1">Undesired</span>
                          <input id="undesiredInput" type="text" class="form-control" placeholder="Avocado, Oil" aria-describedby="sizing-addon1">
                        </div>

                        <button type="button" class="btn btn-lg btn-success" style="margin-top: 20px" onclick="onClickSend()">Check it!</button>

                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->
    <div class="content-section-a"  id="result" hidden>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <div class="clearfix"></div>
                    <h1 id="resultTitle" class="section-heading"></h1>
                    <h3>Ingredients</h3>
                    <p id="resultIngredients" class="lead" ></p>
                    <h3>Recipe</h3>
                    <p id="resultRecipe" class="lead" ></p>
                    <div id="resultAction" class="btn-group">


                    </div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img id="sandwichImage" class="img-responsive" src="" alt="">
                </div>
            </div>

        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright text-muted small">CBR - AMLT</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Custom scripts -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>



</body>

</html>
